.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  padding: .3rem;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: red;
}

.product-description {
  font-size: 16px;
  margin: 10px 0;
}

.add-to-cart {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  background-color: #3e8e41;
}

.displayCards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  ;
  justify-content: space-between;

}

.delete-button {
  background-color: #ff4444 !important;
  color: #fff !important;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-button:hover {
  background-color: #711f1f !important;
}